
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Indie+Flower&family=Reenie+Beanie&display=swap');
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: var(--color1);
  font-family: Poppins;
  
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::-webkit-scrollbar{
    background-color: var(--color1);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color3);
    width: 10px;
    border-radius: 15px;
}

:root{
    --color1: #19181c;
    --color2: #737284;
    --color3: #ffd545;
    --color4: #ff971e;
    --color5: #d34833;
}

main{
    overflow: hidden;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: var(--color1);
    top: 0%;
    color: var(--color3);
    overflow: hidden;

}

.overlay h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 12px;
}

.nav {
    line-height: 40px;
    margin: 1.2em;
    position: absolute;
    right: 0;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    color: #fff;
    padding-right: 36px;
}

.nav-item::after{
    content:  '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--color3);
    transition: width .3s;
}

.nav-item:hover::after{
    width:  100%;
    transition:  width .3s;
}

.header{
    display: block;
    height: 30vh;
    background: url(../imgs/banner-bg7.jpg) 50% 50% no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.header h1{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30vh;
    left: 50vw;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 12px;
    color: var(--color3);
    font-family: "Wire One";
    margin-bottom: 30px;
    text-align: center;
}

.intro{
    color:#fff;
    font-family: Poppins;
    margin:  0 auto;
    max-width: 750px;
    line-height: 30px;
}

.intro p::before{
    content: "<p>";
    position: absolute;
    color: var(--color2);
    top: -12%;
    font-style: italic;
    font-size: 15px;
    font-family: "Indie Flower";
    opacity: 60%;
}

.intro p::after{
    content: "</p>";
    position: absolute;
    color: var(--color2);
    top: 90%;
    left: 78%;
    font-style: italic;
    font-family: "Indie Flower";
    font-size: 15px;
    opacity: 60%;
}



/*PARTE PROJETOS*/
.parte-projetos{
    margin-top: 60px;
    color: #fff;
}
.parte-projetos h2{
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 12px;
    color: var(--color3);
    font-family: "Wire One";
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.parte-projetos h2::after{
    content: "</h2>";
    right: 14%;
    transform: translateY(30px);
    position:absolute;
    color: var(--color2);
    font-style: italic;
    font-family: "Caveat";
    font-size: 15px;
    opacity: 60%;
}
.parte-projetos h2::before{
    content: "<h2>";
    left: 14%;
    transform: translateY(-10px);
    position:absolute;
    color: var(--color2);
    font-style: italic;
    font-family: "Caveat";
    font-size: 15px;
    opacity: 60%;
}

/*AEDS PROJETO*/
.projetos-aeds{
        color: #fff;
        line-height: 30px;
}
.iframe-codigo iframe{
        border-radius: 15px;

}

/* .aeds .iframe-codigo::after{
        content: "<-- Colocar um iframe com código em C, utilizado no ínicio de AEDS ";
        position: absolute;
        max-width: 100px;
        right: -5%;
        font-style: italic;
        font-family: "Reenie Beanie";
        color: var(--color2);
        transform: rotate(-24deg);
        opacity: 60%;
} */

.aeds{
    margin-bottom: 60px;
}


/*DIW PROJETO*/
.projetos-diw p{
    line-height: 30px; 
    margin-bottom: 25px;
}


.projetos-diw p::before{
    content: "<p>";
    position: absolute;
    color: var(--color2);
    font-style: italic;
    left: 0%;
    font-size: 15px;
    font-family: "Indie Flower";
    opacity: 60%;
    top: -10%;
}

.projetos-diw p::after{
    content: "</p>";
    position: absolute;
    left: 0%;
    transform: translateY(20px);
    color: var(--color2);
    font-style: italic;
    font-family: "Indie Flower";
    font-size: 15px;
    opacity: 60%;
}

.primeiro-site{
    margin-top: 30px;
}

.primeiro-site img{
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
}

.ultimo-site{
    margin-top: 30px;
}

.ultimo-site img{
    width: 100%;
    border-radius: 15px;
}

.diw{
    margin-bottom: 60px;
}


/*LIP PROJETO*/

.lip h2::after{
    right: 10%;
}
.lip h2::before{
    left: 11%;
}

.primeiro-jogo{
    line-height: 30px;
}

.primeiro-jogo h3{
    margin-top: 30px;
    font-weight: bolder;
    letter-spacing: 12px;
    color: var(--color3);
    font-family: "Wire One";
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
   
}

.iframe-jogo a{
    text-decoration: none;
    color: var(--color3);
    transition: all .4s;
}

.iframe-jogo a:hover{
    color: var(--color4);
}


/* .iframe-jogo::after{
    content: "<-- Sou ruim no meu próprio jogo :(";
    position: absolute;
    max-width: 100px;
    right: -3%;
    font-style: italic;
    font-family: "Reenie Beanie";
    color: var(--color2);
    transform: rotate(-24deg);
    opacity: 60%;
} */

.txt-lip{
    line-height: 30px;
    margin-top: 30px;
    color: #fff;
}